<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png" sizes="16x16" type="image/png">
    <title>주독야독</title>
    <style>
        #nav {
            background-color: rgba(253, 187, 187, 0.4);
            width: 300px;
            height: 100%;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #section {
            max-width: calc(100% - 340px);
            text-align: center;
            float: left;
            margin-right: 30px;
            margin-top: 30px;
            margin-left: 20px;
            overflow-y: scroll;
        }

        #btn {
            max-width: calc(100% - 340px);
            margin-top: 30px;
            width: 100%; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            margin-left: 300px;
        }

        li {
            list-style-type: none;
            margin: 10px;
            font-size: 20px;
            font-weight: bold;
        }

        .slide {
            display: none;
        }

        @font-face {
            font-family: 'dongle';
            src: local('dongle'), url('/Users/parkhyejeong/Documents/font/dongle.ttf') format('ttf');
        }

        body {
            font-family: 'dongle', Arial, sans-serif;
        }
    </style>
</head>

<body>
    <div
        style="width: 100%; height: 30%; background-color: rgba(244, 244, 244, 0.5); padding-top: 10px; padding-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; align-items: center;">
            <img src="/images/logo.png" alt="주독야독" width="50dp" height="50dp" style="margin-right: 10px;">
            <a class="navbar-brand" href="/admin/"
                style="text-decoration-line: none; color: black; font-size: 36px; font-weight: bold;"
                onmouseover="this.style.color='gray';" onmouseout="this.style.color='black';">주독야독</a>
            <span style="margin: 0 30px;"></span>

            <a class="navbar-brand" href="/admin/users"
                style="text-decoration-line: none; color: gray; font-size: 18px; font-weight: bold;"
                onmouseover="this.style.color='black'; this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                onmouseout="this.style.color='gray'; this.style.textDecoration='none';"
                onfocus="this.style.textDecoration='underline';" onblur="this.style.textDecoration='none';">회원관리</a>
            <span style="margin: 0 10px;"></span>
            <a class="navbar-brand" href="/admin/text"
                style="text-decoration-line: none; color: gray; font-size: 18px; font-weight: bold;"
                onmouseover="this.style.color='black'; this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                onmouseout="this.style.color='gray'; this.style.textDecoration='none';"
                onfocus="this.style.textDecoration='underline';" onblur="this.style.textDecoration='none';">지문관리</a>
            <span style="margin: 0 10px;"></span>
            <a class="navbar-brand" href="/admin/feedback"
                style="text-decoration-line: none; color: gray; font-size: 18px; font-weight: bold;"
                onmouseover="this.style.color='black'; this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                onmouseout="this.style.color='gray'; this.style.textDecoration='none';"
                onfocus="this.style.textDecoration='underline';" onblur="this.style.textDecoration='none';">피드백 관리</a>
            <span style="margin: 0 10px;"></span>
            <a class="navbar-brand" href="/admin/ai"
                style="text-decoration-line: none; color: black; font-size: 18px; font-weight: bold; text-decoration: underline; text-decoration-color: #FDBBBB;"
                onmouseover="this.style.color='black'; this.style.textDecoration='none';"
                onmouseout="this.style.color='black'; this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                onfocus="this.style.textDecoration='none';" onblur="this.style.textDecoration='underline';">AI 관리</a>
            <span style="margin: 0 30px;"></span>
        </div>

        <button onclick="window.location.href = '/admin/logout';"
            style="border-style: solid; font-size: 20px; font-weight: bold; background-color: white; border-width: 2px; border-color: black; border-radius: 30px; width: 111px; height: 45px; margin-right: 10px;"
            onmouseover="this.style.backgroundColor='#FDBBBB'; this.style.color='black';"
            onmouseout="this.style.backgroundColor='white'; this.style.color='black';">로그아웃</button>
    </div>

    <div id="nav">
        <ul style="padding: 0;">
            <li>
                <a style="text-decoration-line: none; color: gray; font-size: 20px; font-weight: bold;"
                    onmouseover="this.style.color='black'; this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB'; this.style.textDecoration='none';"
                    onmouseout="this.style.color='gray'; this.style.textDecoration='none';"
                    onfocus="this.style.textDecoration='none';"
                    onblur="this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                    class="dropdown-item" href="/admin/ai/token">
                    토큰, 사용 요금 조회
                </a>
            </li>
            <span style="margin: 0 30px;"></span>
            <li>
                <a style="text-decoration-line: none; color: black; font-size: 20px; font-weight: bold;"
                    onmouseover="this.style.color='black'; this.style.textDecoration='none';"
                    onmouseout="this.style.color='black'; this.style.textDecoration='none';"
                    onfocus="this.style.textDecoration='none';"
                    onblur="this.style.textDecoration='underline'; this.style.textDecorationColor='#FDBBBB';"
                    class="dropdown-item" href="/admin/ai/answer">
                    모델 정보 출력
                </a>
            </li>
        </ul>
    </div>

    <div id="section">
        <div
            style="margin-bottom: 20px; padding: 10px; width: 1000px; height: fit-content; border-radius: 20px; background-color: rgba(250, 240, 240, 1); border: none;">
            <div
                style="margin-bottom: 10px; align-items: center; display: flex; justify-content: center; padding: 10px; width: 20%; height: 30%; border-radius: 20px; background-color: rgba(245, 245, 245, 1); border: none;">
                <span style="font-size: 20px; font-weight: bold; text-align: center;">
                    모델 정보 
                </span>
            </div>

            <span style="font-size: 18px; font-weight: normal; text-align: start;">
                <%- answer.replace(/\n/g, '<br>') %>
            </span>
        </div>
    </div>
<!--
    <div id="btn">
        <button type="submit" onclick="window.location.href = 'confirmStop()';"
            style="min-width: 300px; height: 40px; font-weight: bold; border-style: solid; border-radius: 30px; border-color: #FDBBBB; border-width: 3px; background-color: rgba(253, 187, 187, 0.4); font-size: 20px; color: black; margin-right: 10px;"
            onmouseover="this.style.backgroundColor='white'; this.style.color='#FDBBBB';"
            onmouseout="this.style.backgroundColor='rgba(253, 187, 187, 0.4)'; this.style.color='black';">STOP</button>

        <button type="submit" onclick="window.location.href = 'confirmRestart()';"
            style="min-width: 300px; height: 40px; font-weight: bold; border-style: solid; border-radius: 30px; border-color: #FDBBBB; border-width: 3px; background-color: rgba(253, 187, 187, 0.4); font-size: 20px; color: black; margin-left: 10px;"
            onmouseover="this.style.backgroundColor='white'; this.style.color='#FDBBBB';"
            onmouseout="this.style.backgroundColor='rgba(253, 187, 187, 0.4)'; this.style.color='black';">RESTART</button>
    </div>
-->
    </span>
</body>

<script>
    function confirmStop() {
        var confirmation = confirm("답변 출력이 멈춥니다. 계속 진행하시겠습니까?");

        if (confirmation) {
            location.href = ''//링크가 무엇일까요?
        }
    }

    function confirmRestart() {
        var confirmation = confirm("답변 출력이 계속됩니다. 계속 진행하시겠습니까?");

        if (confirmation) {
            location.href = ''//링크가 무엇일까요?
        }
    }
</script>

</html>